.dashboard {
  margin-top: 5px;
}

.resa {
  border-radius: 15px;
  opacity: 95%;
  margin: 30px;
  color: white;
}

.resa-dino {
  margin-top: 20px;
}

.resa-dino h5 {
  font-size: 20px;
  font-family: 'Segoe UI';
}
.resa-dino p {
  font-weight: lighter;
  vertical-align: middle;
}


.photo-dash {
  box-shadow: 20px;
}
