.barre {
  width: 600px;
  padding-right: 1rem;
  text-align: center;
}

// BANNER
.banner {
  // background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.hdqwalls.com/wallpapers/dino-history.jpg);
  // background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url(dino-history.jpg);
  background-position-x: 40%;
  background-position-y: 0%;
  padding: 150px 0;
}

.banner h1 {
  padding-top: 100px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}



// CARDS UNDER BANNER
.container-homepage-card{
  padding: 50px;
}

.title-homepage-card p{
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 20px;
  font-weight:bold;
  padding-bottom: 20px;
}

.btn-homepage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

// FOOTER
.footer {
  width: 100%;
  // margin-top: 20px;
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding:50px;
}
.footer-links {
  color: black;
//   display: flex;
//   align-items: center;
}

.footer-links a {
  // color: black;
  // opacity: 0.15;
  // text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #5FC6B2;
}

.fa-heart::before {
  color: #D23333;
}
