// Import page-specific CSS files here.
@import "home";
// BACKGROUND

body {
  background-image: asset-url('jungle3.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  content: "";
  top: 0; left: 0;
  filter: brightness(90%);
}
