.dino_page {
  background-color: white;
  width: 80%;
  padding: 10px;
  margin: auto;
}

  .dino_container {
    color: hsl(0, 0%, 29%);

  .description_dino {
    width : 450px;

    img {
      margin-bottom: 15px;
      box-shadow: 0 0 3px hsl(0, 0%, 70%);
      width: 100%;
    }

    h1 {
      color: hsl(0, 0%, 13%);
      font-size: 32px;
      font-weight: 700;
      text-align: left;
      margin-bottom: 15px;
    }
  }

  .description {
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
    
    a {color: $lime-green;
      font-weight: 400;
      text-decoration: underline;
      &:hover {
        color: $spearmint;
      }
    }

  }






}
