@import "home";

.opacite{
  opacity: 0.93;
}
.cards-show-dino {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px;
  margin-bottom: 20px;
}

.details-total {
  padding-bottom: 10px;
}

.container-booking {
  font-weight: 600;
  color: #484848;
}

.btn-resa {
padding: 10px;
width:210px;
}

.price-reservation > p {
  font-size: 10px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.title-dashboard h1 {
  font-size: 50px;
  padding:16px;
  font-weight:bold;
}
