<!-- CARD-->
<div class="container">
  <%# <% @dinos.each do |dino| %>
    <div class="row g-5">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            Wilfried
          </div>
          <img src="https://i.etsystatic.com/18854467/r/il/98d65a/3574197919/il_fullxfull.3574197919_olfx.jpg" class="dino-img" alt="...">
          <div class="card-body">
            <div class="bar">
              <h5>Velociraptor</h5>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-owner avatar-bordered" />
            </div>
            <p class="fst-italic"> Passage de la poule noire, Nantes</p>
            <div class="description">
              <p>Allergique à la poussière</p>
              <p>Flexitarien</p>
              <h2 class="card-pricing">50€/jour</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%# % end %>
</div>
