<div class="dino_page">
 <p> < <%= link_to "Back", dinos_path %><p>
  <div class="dino_container">
    <div class="description_dino">
      <div class="description_image">

      </div>
      <div class="description">
        <%# <p><%= "#{dino.name}, #{dino.specie}, #{dino.characteristic}, #{dino.price}, #{dino.description}, #{dino.place}" %></p> %>
        <%# <p><%= cl_image_tag(@dino.user.photo.key, width: 50, height: 45, class: "avatar dropdown-toggle", crop: :fill) %> Contact <%= @dino.user.first_name.capitalize %> </p> %>
      </div>
    </div>
  </div>






</div>
