<div class="my-container">

<%# BANNER %>
<div class="banner">
  <div class="container">
    <h1>DinoBnB vous aide à trouver le meilleur dino pour vous!</h1>
    <p>Il est peut-être à côté de chez vous...</p>
    <%= link_to "Je veux découvrir plus de 10000 dinos !", dinos_path, class: "btn" %>
  </div>
</div>
</div>

<%# CARDS %>
