.card {
  overflow: hidden;
  background: white;
  opacity: 0.95;
  box-shadow: 0 0 10px rgba(20, 20, 20, 0.1);
  border-radius: 20px;
  block-size: 400px;
}

.position-card-dino {
  padding-top: 50px;
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}


// TITLES SIZES
.card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card h5 {
  font-size: 16px;
}

.card h6 {
  box-sizing: content-box;
  width: 70%;
  padding: 5px;
  font-size: 15px;
  margin: 0;
}

.card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-header {
  font-size: 22px;
  display: flex;
  justify-content:center;
}

.card-image-dino{
  margin: 7px;
  height: 25rem;
  background-position: center;
  background-size: cover;
}

// --> DESCRIPTION
.card-body .bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-body .description {
  padding: 10px 0;
}

.card-body {
  padding-bottom: 8px;
}

.card-pricing {
  // position: absolute
  // position: relative;
  // left: 215px; bottom: 200px;
  // padding-bottom: 24px;
}
