.container {
  padding-bottom: 200px;
}


.form-inputs{
  color: white;
  padding-right: 200px;
  padding-left: 200px;
}

.form-actions {
  padding-right: 200px;
  padding-left: 200px;
}

.card-header {
  color: white;
  opacity: 0.8;
  padding-top: 50px;
}
