.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 5px;
  border-radius: 10px;
}

.dino-name-in-map{
  font-size: 15px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.map-popup p {
  line-height: 5px;
  padding: 0;
  margin-top: 10px;
}
